@charset "utf-8";
/* CSS Document */

.pcNo{ display:none !important;}
.mNo{ display:block !important;}
.areaWidth{ width:980px; margin:0 auto; position:relative; overflow:hidden;}

/*--header------------*/
.headerBG{ background-image:url(../images/bg_header.jpg); background-size:cover; background-position:top center;}
.hPic{ position:absolute;}
.hTitle{ width:81%; top:7%; left:2%;}
.hSlogan{ width:81%; top:43%; left:2%;}
.hPeople{ width:40%; top:39%; left:6%;}
.hSale{ width:49.5%; top:51%; left:48%;}

.socialBox{ width:200px; position:absolute; bottom:-2px; right:50px;}
.socialFB,.socialLINE{ float:left; margin:0 2px;}

.areaBG{ padding:60px 0; background-position:top center; background-repeat:no-repeat;}
.bgAttch{ background-attachment:fixed;}
.bgYellow{ background-image:url(../images/bg_yellow.jpg);}
.bgPink{ background-image:url(../images/bg_pink.png);}
.bgBlue{ background-image:url(../images/bg_blue.png);}
.bgPurple{ background-image:url(../images/bg_purple.png);}
.bgBrown{ background-image:url(../images/bg_brown.png);}
.bgA{ background-image:url(../images/bg_style1.png);}
.bgB{ background-image:url(../images/bg_style2.png);}
.bgC{ background-image:url(../images/bg_style3.png);}
.bgD{ background-image:url(../images/bg_style4.png);}
.bgE{ background-image:url(../images/bg_style5.png);}
.areaTitle{ width:83%; margin:0 auto;}

/*--bigTitle------------*/
.bigTitle{ padding-top:25px;}
.bigTitle img{ display:block; width:83.5%; margin:0 auto;}

/*--top100------------*/
.topBox{ overflow:hidden; margin-top:50px; text-align:center;}
.topBox li{ display:inline-block; vertical-align:top;}
.topBox a{ display:block;}
.topL{ width:50%;}
.topR{ width:44%;}
.superman{ margin-top:-26px;}

/*--area02------------*/
.areaBox02{ margin-top:50px;}
.areaBox02 li{ overflow:hidden;}
.a02book1,.a02book2,.a02book3,.a02book4{ float:left;}
.a02slogan{ width:50%; float:right; margin-right:9%; margin-bottom:48px;}
.a02book1{ width:33%; margin-left:7%;}
.a02book2{ width:30%;}
.a02book3{ width:30.5%;}
.a02book4{ width:37.2%;}

/*--area03------------*/
.areaBox03{ overflow:hidden; margin-top:50px;}
.areaBox03 li{ float:left; width:50%;}
.areaBox03 li a:nth-child(2) img{ margin-top:-139px;}
.areaBox03 a{ display:block;}

/*--area04------------*/
.areaBox04{ overflow:hidden; margin-top:50px;}
.areaBox04 a{ display:block; float:left; width:33.3%;}
.areaBox04 a.a04slogan{ width:64%;}

/*--areaBox05------------*/
.areaBox05{ overflow:hidden; margin-top:50px;}
.areaBox05 li a{ display:block; float:left; width:33.3%; position:relative;}
.areaBox05 li a:nth-child(1){ left:9%;}
.areaBox05 li a:nth-child(3){ right:9%;}
.areaBox05 li a:nth-child(4){ left:7%;}
.areaBox05 li a:nth-child(6){ right:11%;}

/*--areaBox06------------*/
.areaBox06{ overflow:hidden; margin-top:50px;}
.areaBox06 a{ display:block; float:left; width:33.3%;}

/*--areaBox07------------*/
.areaBox07{ overflow:hidden; margin-top:50px;}
.a07slogan{ display:block; width:48%; margin:20px auto 0 auto;}

/*--areaBox08------------*/
.areaBox08{ overflow:hidden; margin-top:50px;}
.areaBox08 a{ display:block; float:left; width:29%; margin:0 2%;}

/*--gotopBTN--*/.gotopBTN{ width:53px; background-color:rgba(168,109,36,0.8); border-radius:6px; position:fixed; bottom:8px; right:8px; cursor:pointer;}

/*--animation--*/
.ani:hover { -webkit-animation:ani 1s infinite; -moz-animation:ani 1s infinite;}	
@-webkit-keyframes ani {
 0% { -webkit-transform:scale(1);}
 50% { -webkit-transform:scale(0.9);}
 100% { -webkit-transform:scale(1);}
}
@-moz-keyframes ani {
 0% { -moz-transform:scale(1);}
 50% { -moz-transform:scale(0.9);}
 100% { -moz-transform:scale(1);}
}

.ani2:hover { -webkit-animation:ani2 1s forwards; -moz-animation:ani2 1s forwards;}	
@-webkit-keyframes ani2 {
 0% { -webkit-transform:translateX(0);}
 50% { -webkit-transform:translateX(10px);}
 100% { -webkit-transform:translateX(0);}
}
@-moz-keyframes ani2 {
 0% { -moz-transform:translateX(0);}
 50% { -moz-transform:translateX(10px);}
 100% { -moz-transform:translateX(0);}
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	.areaWidth{ width:750px;}
	.socialBox { bottom:-8px; right:32px;}
	
	.bgAttch{ background-attachment:inherit;}
	.bgA{ background-size:100%;}
	.bgB{ background-size:190%;}
	.bgC{ background-size:148%;}
	.bgD{ background-size:113%;}

	/*--top100------------*/
	.topBox{ margin-top:30px;}
	.superman{ margin-top:-20px;}
	
	/*--area03------------*/
	.areaBox03 li a:nth-child(2) img{ margin-top:-110px;}


}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.pcNo{ display:block !important;}
	.mNo{ display:none !important;}
	
	.areaWidth{ width:96%;}
	
	/*--header------------*/
	header .areaWidth{ width:100%; overflow:hidden; /*padding-bottom:50px;*/}
	.hTitle{ width:95%; top:7%; left:0; right:0; margin:0 auto;}
	.hPeople{ width:59%; top:33%; left:-21%;}
	.hSaleM{ width:73%; top:33%; left:31%;}
	.hSloganM{ width:70%; top:83%; left:0; right:0; margin:0 auto;}
	.socialBox{ bottom:inherit; top:89%; right:0; left:0; margin:0 auto;}
	
	.areaBG{ padding:25px 0;}
	.bgAttch{ background-attachment:inherit;}
	.bgA{ background-size:100%;}
	.bgB{ background-size:190%;}
	.bgC{ background-size:148%;}
	.bgD{ background-size:113%;}
	.areaTitle{ width:98%;}
		
	/*--bigTitle------------*/
	.bigTitle{ padding-top:12px;}
	.bigTitle img{ width:96%;}
	
	/*--top100------------*/
	.topBox{ margin-top:20px; padding:0 4%;}
	.topBox li{ display:inline-block; vertical-align:top;}
	.topL{ width:100%;}
	.topR{ width:100%;}
	.superman{ display:none;}
	
	/*--area02------------*/
	.areaBox02{ margin-top:0;}
	.a02slogan{ width:95%; float:none; margin:0 auto 5px auto; display:block;}
	.a02book1{ width:53%; margin-left:0; margin-bottom:12px;}
	.a02book2{ width:46%; margin-bottom:12px;}
	.a02book3{ width:45%;}
	.a02book4{ width:55%;}
	
	/*--area03------------*/
	.areaBox03{ overflow:hidden; width:86%; margin:10px auto 0 auto;}
	.areaBox03 li{ float:none; width:100%;}
	.areaBox03 li a:nth-child(2) img{ margin-top:-30%;}
	
	/*--area04------------*/
	.areaBox04{ margin:10px 2% 0 4%;}
	.areaBox04 a{ float:left; width:50%;}
	.areaBox04 a:last-child{ margin-left:22%;}
	.areaBox04 a.a04slogan{ float:none; width:90%; margin:0 auto;}
	
	/*--areaBox05------------*/
	.areaBox05{ overflow:hidden; margin-top:10px;}
	.areaBox05 li a{ display:block; float:left; width:50%; position:relative;}
	.areaBox05 li a:nth-child(1),.areaBox05 li a:nth-child(4){ left:0;}
	.areaBox05 li a:nth-child(3),.areaBox05 li a:nth-child(6){ right:0;}
	
	/*--areaBox06------------*/
	.areaBox06{ margin-top:10px; padding-left:2.5%;}
	.areaBox06 a{ width:50%;}
	
	/*--areaBox07------------*/
	.areaBox07{ margin-top:10px;}
	.a07slogan{ width:80%;}
	
	/*--areaBox08------------*/
	.areaBox08{ margin-top:10px;}
	.areaBox08 a{ width:46%; margin:0 2%;}
	.areaBox08 a:last-child{ width:96%; margin:10px 2% 0 2%;}
	
	/*--gotopBTN--*/.gotopBTN{ width:40px; bottom:25px; right:8px;}
}
