@charset "utf-8";
/* CSS Document */

.pcNo{ display:none;}
.mNo{ display:block;}

/*--header--------*/
.bgBox{ background-position:top center;}
.headBG{ background-image:url(../images/bg_header.jpg); background-size:cover;}
.areaWidth{ width:980px; margin:0 auto;}
.egnHead{ position:relative;}
.egnPic{ position:absolute;}
.headTitle1{ width:50%; top:10%; left:10%;}
.headTitle2{ width:57%; top:42%; left:2%;}
.headSlogan{ width:14%; top:13%; left:60%;}
.headDate{ width:20%; top:14%; left:76%;}

/*--award--------*/
.bg2{ background-image:url(../images/bg2.jpg);}
.bg2Dot{ background-image:url(../images/bg2_dot.png); padding:20px 0 90px 0; background-repeat:no-repeat; background-attachment:fixed; position:relative;}
.oneAward{ width:93%; margin:0 auto 20px auto; padding:5% 14%; background-color:#fff; border:#ffcb17 10px solid; border-radius:10px;}
.awTitle{ width:50%; margin:0 auto 15px auto; padding:12px 10px 10px 10px; background-color:#ff430c; color:#fff; border-radius:100px; font-size:35px; font-weight:bold; text-align:center;}
.awCon{ font-size:25px;}
.awCon li{ padding:15px 10px; border-bottom:#ececec 1px solid; color:#003d76; line-height:1.3;}
.awItem{ color:#959595;}

/*toggle*/
.toggle-input{ display:none;}
.toggle-label{ display:block; cursor:pointer; padding:12px 10px 10px 10px; margin:0 auto 20px auto; background-color:#ffcb17; border-radius:3px; width:300px; text-align:center; color:#ffffff; border-bottom:#ffa303 5px solid; position:absolute; bottom:13px; left:0; right:0; text-shadow:1px 1px 5px #D58700; font-size:25px;}
.toggle-label:before{content:"看更多得獎名單";}
.toggle-input:checked ~ .toggle-label:before{content:"關閉";}
.awHide{ display:none;}

/*--notice--------*/
.bg3Dot{ background-color:#003d76; background-image:url(../images/bg3_dot.png); background-repeat:no-repeat; padding:30px 0;}
.introBox{ width:93%; margin:0 auto; background-color:#fff; border:#ff3e24 10px solid; border-radius:10px;}
.introTitle{ padding:10px 0; background-color:#ff3e24; color:#fff; font-size:45px; text-align:center; font-weight:bold;}
.introCon{ padding:40px 60px; font-size:20px; color:#ff3e24; line-height:1.4; word-break:break-all;}
.introCon > li{ list-style:disc; margin:16px 0;}
.introCon li span{ color:#003d76;}
.alink{ color:#00baff;}
.alink:hover{ text-decoration:none;}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	/*--header--------*/
	.areaWidth{ width:750px;}
	
	/*--award--------*/
	.oneAward{ padding:5% 8%;}
	.awTitle{ font-size:30px;}
	.awCon{ font-size:24px;}
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.pcNo{ display:block;}
	.mNo{ display:none;}
	
	/*--header--------*/
	.areaWidth{ width:100%;}
	.headTitle1{ width:65%; top:14%; left:33%;}
	.headTitle2{ width:93%; top:36%; left:4%;}
	.headSlogan{ width:14%; top:13%; left:60%;}
	.headDate{ width:27%; top:8%; left:6%;}
	.headSloganM{ width:87%; top:76%; left:6%;}
	
	/*--award--------*/
	.bg2Dot{ padding:15px 0 70px 0;}
	.oneAward{ width:95%; margin-bottom:10px; padding:5%; border:#ffcb17 6px solid;}
	.awTitle{ width:75%; margin-bottom:5px; font-size:22px;}
	.awCon{ font-size:20px;}
	.awCon li{ padding:13px 0;}
	.awTxt{ display:inline-block;}
	.toggle-label{ width:75%; margin-bottom:2px; font-size:22px;}
	
	/*--notice--------*/
	.bg3Dot{ padding:20px 0;}
	.introBox{ width:95%; border:#ff3e24 6px solid;}
	.introTitle{ font-size:29px; padding-bottom:13px;}
	.introCon{ padding:10px 20px 10px 35px; font-size:19px; color:#ff3e24; line-height:1.4;}
	.introCon > li{ list-style:disc; margin:16px 0;}
	.introCon > li > ul > li{ margin-bottom:10px;}
	.introCon li span{ color:#003d76;}
	.alink{ color:#00baff;}
	.alink:hover{ text-decoration:none;}
}
