@charset "utf-8";
/* CSS Document */

.pcNo{ display:none;}
.mNo{ display:block;}

/*--header--------*/
.bgBox{ background-position:top center;}
.headBG{ background-image:url(../images/bg_header.jpg); background-size:cover;}
.areaWidth{ width:980px; margin:0 auto;}
.egnHead{ position:relative;}
.egnPic{ position:absolute;}
.headTitle1{ width:69%; top:2%; left:13%;}
.headTitle2{ width:65%; top:44%; left:21%;}
.headTitle3{ width:43%; top:69%; left:10%;}

.bg3Dot{ background-color:#131968; background-image:url(../images/bg_content.png); background-repeat:no-repeat; padding:30px 0;}
/*--coupon--------*/
.cuponBox{ width:92%; margin:0 auto; padding:20px; background-color:#c518a5; border-radius:20px; color:#fff; font-weight:bold; text-align:center;}
.cuponBorder{ overflow:hidden; margin:0 auto; border:#fff 3px solid; border-radius:15px;}
.cuponBorder li{ float:left;}
.cuponL{ width:56%; padding:6% 5% 4% 5%; font-size:55px;}
.txt1{ font-size:85px; vertical-align:middle;}
.txt2{ font-size:110px; color:#ffea00; vertical-align:middle;}
.cuponR{ width:44%; padding:5%; border-left:#fff 5px dashed;}
.cuRtitle{ margin-bottom:10px; font-size:45px;}
.cuRcode{ margin-bottom:10px; padding:10px; font-size:35px; color:#ed0049; background-color:#fff; border-radius:5px;}
.cuRnote{ margin-bottom:10px; font-size:21px; color:#7effb2;}
.copy_coupon{ margin-top:10px; padding:5px 15px; font-size:25px; color:#ffea00; font-weight:bold; background-color:#4324b6; border:0; border-bottom:#29137a 4px solid; border-radius:100px; appearance:none; -webkit-appearance:none; -moz-appearance:none; font-family:Arial, Verdana, "微軟正黑體", sans-serif; cursor:pointer; outline:none;}
.copy_coupon:hover{ position:relative; top:-3px;}

/*--notice--------*/
.exIntroBox{ width:92%; margin:50px auto 0 auto;}
.exIntroTitle{width:50%; margin:0 auto;}
.exIntroBG{ padding:60px 54px; margin-top:-40px; border-radius:10px; background-color:#fff; font-size:21px;}
.exInroTxt1{ padding-left:27px; text-align:left;}
.exInroTxt1 li{list-style:decimal; margin:15px 0; color:#666666; line-height:1.4;}
.exInroTxt1 a{color:#0090ff; text-decoration:underline;}
.expressIcon{width:50px; vertical-align:middle;}
.stepPic{ display:block; width:783px; margin-top:10px;}
.exUse{ list-style:none !important; color:#8d083e !important; font-weight:bold;}


/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	/*--header--------*/
	.areaWidth{ width:750px;}

	.bg3Dot{ background-size:155%;}
	/*--coupon--------*/
	.cuponL{ padding:7% 5% 3% 5%; font-size:50px;}
	.txt1{ font-size:75px;}
	.txt2{ font-size:100px;}
	.cuRtitle{ font-size:35px;}
	.cuRcode{ font-size:30px;}
	.cuRnote{ font-size:17px;}
	.copy_coupon{ font-size:22px;}
	
	/*--notice--------*/
	.exIntroBox{ margin:30px auto 0 auto;}
	.stepPic{ width:100%;}
	
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.pcNo{ display:block;}
	.mNo{ display:none;}
	
	/*--header--------*/
	.areaWidth{ width:100%;}
	.headTitle1{ width:90%; top:8%; left:2%;}
	.headTitle2{ width:90%; top:43%; left:8%;}
	.headTitle3{ width:55%; top:67%; left:3%;}
	
	.bg3Dot{ padding:20px 0;}
	/*--coupon--------*/
	.cuponBox{ padding:12px;}
	.cuponL{ width:100%; padding:7% 5% 3% 5%; font-size:35px;}
	.txt1{ font-size:50px;}
	.txt2{ font-size:80px;}
	.cuponR{ width:100%; padding:7% 5%; border-left:0; border-top:#fff 3px dashed;}
	.cuRtitle{ font-size:35px;}
	.cuRnote{ font-size:18px;}

	/*--notice--------*/
	.exIntroBox{ margin-top:20px;}
	.exIntroBG{ padding:16px 9px; margin-top:-23px; font-size:18px;}
	.exIntroTitle{ width:80%;}
	.exInroTxt1{ padding:10px 20px 10px 40px;}
	.stepPic{ width:100%;}


}
