@charset "utf-8";
/* CSS Document */

body {	margin: 0px; background:url(images/publish2016_bg.jpg) fixed no-repeat center 0px #DFD2C1;}

a{ outline: none; behavior:expression(this.onFocus=this.blur());}

img{ display:block;border:0;}

.pcfloor{ display:block;}
.wrapper { width: 980px; margin:0 auto; position:relative;}

/* 浮動選單 */
#PCmenu{ width:135px; height:522px; background:url(images/publishmenu_bg.png) no-repeat;padding: 15px 0 0 0; display:block; z-index:1;}
#PCmenu .menu{ width:100%; height:35px; margin:0 auto 7px auto;  text-align:center;font-family: "微軟正黑體" , "Calibri"; font-size:16px; color:#fff; letter-spacing:0.05em;}
.menu a:link,.menu a:visited{text-decoration:none;color:#fff;}
.menu a:hover,.menu a:active{position:relative; top:1px; left:1px; color:#feec58;}

/*十大影響力好書*/
.wrapper .books10area{ width:100%; position: relative;}
.books10area .books10area_bg{ z-index:1; }
.books10area .books01{ width: 155px; float: left; z-index: 100; position: absolute; left: 10%; top: 23%;}
.books10area .books02{ width: 155px; float: left; z-index: 100; position: absolute;	left: 36%; top: 15%;}
.books10area .green{ display:none;}

/*年度百大*/
.wrapper .board{ width:100%; display:block;}
.wrapper .boardmobile{ display:none;}

/* 年度之最+讀者最愛+店員最愛+作家最愛+出版趨勢 */
.imgfloat{ float:left;}
.wrapper .most{ width:100%; position: relative; display:block;}
.wrapper .mostmobile{ display:none;}
.most .most_bg01{ z-index:1; }
.most .reader{width: 325px;	z-index: 100;	position: absolute;	left: 580px;top: 214px;}
.most .most_bg02{ z-index:1; }
.most .clerk{ width: 174px; float: left; z-index: 100; position: absolute;	left: 232px; top: 450px;}
.most .author{ width: 295px; float: left; z-index: 100; position: absolute;	left: 629px; top: 511px;}

/*------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
.wrapper { width: 100%; margin:0 auto; position:relative;}
.pcfloor{ display:none;}
/* 浮動選單 */
#PCmenu{ display:none;}

/*十大影響力好書*/
.books10area .books01{ width: 19%; left: 9%; top: 17%;}
.books10area .books02{ width: 19%;  left: 35%; top: 11%;}

/* 年度之最+讀者最愛+店員最愛+作家最愛+出版趨勢 */
.imgfloat{ float:left; width:50%;}
.most .reader{width: 38%; left: 58%;top: 12%;}
.most .clerk{ width: 19%; left: 23%; top: 26%;}
.most .author{ width: 37%; left: 62%; top: 30%;}
}

/*------------------------------------------------------------------*/
@media screen and (max-width:767px) {
.wrapper { width: 100%; margin:0 auto; position:relative;}
.pcfloor{ display:none;}
/* 浮動選單 */
#PCmenu{ display:none;}

/*十大影響力好書*/
.books10area .books01{ width: 30%; left: 2%; top: 0;}
.books10area .books02{ width: 30%; left: 30%; top: 0;}
.books10area .green{ display:block; background:#9ba224; width:100%; height: 35px;}

/*年度百大*/
.wrapper .board{ width:100%; display:none;}
.wrapper .boardmobile{ display:block;}

/* 年度之最+讀者最愛+店員最愛+作家最愛+出版趨勢 */
.wrapper .most{ display:none;}
.wrapper .mostmobile{ width:100%; position: relative; display:block;}
.mostmobile .most_bg01{ z-index:1; }
.mostmobile .clerk{ width: 36%; float: left; z-index: 100; position: absolute; left: 8%; top: 29%;}
.mostmobile .reader{width: 57%; z-index: 100;	position: absolute;	left: 43%;top: 31%;}
.mostmobile .most_bg02{ z-index:1; }
.mostmobile .author{ width: 50%; float: left; z-index: 100; position: absolute; left: 14%; top: 48%;}
}	