@charset "utf-8";
/* CSS Document */

/* popup --------------------------------------------------- */
.popOverlay{ position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0, 0, 0, 0.7); transition:opacity 500ms; z-index:9999; font-size:16px;}
.popBox{ width:395px; max-height:90vh; margin:160px auto; background:#fff; border:#cdd4e1 4px solid; position:relative; transition:all 1s ease-in-out; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;}
.popBox h2{ padding:15px 1%; margin-bottom:5px; font-size:18px; background-color:#eaeaea; color:#434343; background-color:#efefef; color:#636363; text-align:center;}
.popBox ul{ list-style:none;}

/* popup按鈕樣式 */
.ppBtn{ display:block; font-size:15px; cursor:pointer; border-radius:2px; line-height:40px;}
.popBtn{ display:flex; width:60%; margin:0 auto 20px auto;}
.popBtn button{ flex:1; width:100%; background-color:#ffd86f; color:#4771b1; margin-right:5%; border:0; border-radius:3px; transition-property:background-color; transition-duration:0.6s;}
.popBtn button:hover{ background-color:#578ad7; color:#ffffff; transition-property:background-color; transition-duration:0.6s;}
.popBtn button:last-child{ margin-right:0;}
.popContent{ overflow-y:auto; max-height:55vh;}

.odLeft.odLppup{ float:none; width:100%; border:0;}
.odLeft.odLppup ul li{ margin:13px 0;}

/* 報名已取消 */
.popBox h2.ppCancelNote{ margin-bottom:0; padding:25px 0;}
.popBtn button.ppCanBtn{ flex:inherit; width:130px; margin:15px auto 0 auto;}

/* 平板：768px以下 */
@media only screen and (max-width:768px){
	
	/* popup --------------------------------------------------- */
	.popBox{ width:93%;}
	.popBox{ margin-top:15px;}
	
	/*popup按鈕樣式*/
	.popBtn{ width:80%;}
	.popBtn button{ margin-right:4%;}
	.popContent{ max-height:70vh; -webkit-overflow-scrolling:touch;/*寫這個ios的iframe才能捲動*/}

}

/* 手機：480px以下 */
@media only screen and (max-width:480px){
}

@media only screen and (max-height:375px){.popContent{ max-height:45vh;}}



