@charset "utf-8";

.tabletShow{ display:none;}
.tabletHide{ display:block;}
.mShow{ display:none !important;}
.conWith,.hConWith{ width:980px; margin:0 auto; position:relative; overflow:hidden;}

.headerBox{ background-color:#185454; background-image:url(../images/bg_01.jpg); background-position:top center; background-repeat:no-repeat; }
.hTitle01,.hTitle02,.hTitle03,.hTitle04,.hSale01,.hSale02,.hSale03,.hSale04{ position:absolute;}
.hTitle01{ width:29.9%; top:4.5%; left:64%;}
.hTitle02{ width:94.9%; top:5%; left:3%;}
.hTitle03{ width:27.5%; top:3%; left:35.2%;}
.hTitle04{ width:82.15%; top:41%; left:9%;}
.hSale01{ width:19.7%; top:62%; left:6%;}
.hSale02{ width:20.4%; top:71%; left:22%;}
.hSale03{ width:20%; top:55%; left:40%;}
.hSale04{ width:17%; top:67%; left:64%;}
.hSale01,.hSale02,.hSale03,.hSale04{ transition-property:margin-top; transition-duration:0.6s;}
.hSale01:hover,.hSale02:hover,.hSale03:hover,.hSale04:hover{ margin-top:-5px; transition-property:margin-top; transition-duration:0.6s;}

.hBG{ background-image:url(../images/bg_deco_01.png); background-position-y:1300px; background-position-x:center; background-repeat:no-repeat; }
.title{ margin-top:60px;}
.title img{ display:block; width:90%;  margin:0 auto;}
.sTitle img{ display:block; width:50%; margin:0 auto;}
.area01books{ margin-top:30px;}

/*各類排行榜TOP1--------------------------------------------*/
.area01_2 .title{ margin-top:0;}
.topBookKind,.topBookKind2{ overflow:hidden;}
.topBookKind li{ float:left; width:25%; margin-bottom:20px; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.topBookKind li:hover { -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}

.area01_3{}
.bnBox{ overflow:hidden;}
.bnBox li{ float:left; width:48%; margin:1%; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.bnBox li:hover{ -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}

.area02{ background-image:url(../images/bg_02.jpg); background-position:top center; background-repeat:no-repeat; overflow:hidden;}
.a02BG{ background-image:url(../images/bg_deco_02.png); background-position:top center; background-repeat:no-repeat; background-attachment:fixed;}
.area02 .title{ /*float:right;*/ margin-top:0; padding-top:360px;}
.a02Con{ display:block; margin-top:35px; float:left;}

.area03{ background-image:url(../images/bg_03.jpg); background-position:top center; background-repeat:no-repeat; overflow:hidden;}
.area03 .title{ margin-top:0; padding-top:195px;}
.area03 .title img{ margin:0 auto;}
.a03GiftBN{ background-image:url(../images/area03_bnbg.png); background-position:top center; padding-bottom:40px;}
.a03GiftBN img{ display:block; width:843px; margin-top:6%; border:#ffd280 6px solid; border-radius:5px;}

.area04{ background-image:url(../images/bg_04.jpg); background-position:top center; background-repeat:no-repeat; overflow:hidden;}
.a04BG{ background-image:url(../images/bg_deco_04.png); background-position:top center; background-repeat:no-repeat; background-attachment:fixed;}
.area04 .title{ /*float:right;*/ margin-top:0; padding-top:150px;}
.a04Con{ overflow:hidden; width:100%; padding-top:20px; padding-bottom:60px; position:relative;}
.a04Con img{ display:block; width:33.3%; float:left;}
.a04Con img.area04Pic04{ width:100%;}
.a04cloud { width:34% !important; position:absolute; top:75%; left:44%;}

.area05{ background-image:url(../images/bg_05.jpg); background-position:top center; background-repeat:no-repeat; overflow:hidden;}
.a05BG{ background-image:url(../images/bg_deco_05_02.png); background-position-y:50%; background-position-x:center; background-repeat:no-repeat; background-attachment:fixed;}
.area05 .title{ margin-top:0; padding-top:150px;}
.area05 .title img{ margin:0 auto;}
.a05Con{ overflow:hidden; width:100%; padding-top:45px; padding-bottom:60px; position:relative;}
.a05Con img{ display:block; float:left;}
.a05Pic01{ width:43%;}
.a05Pic02{ width:57%;}
.a05Pic03{ width:85%; margin:0 auto; float:none !important;}

.area06{ background-image:url(../images/bg_06.jpg); background-position:top center; background-repeat:no-repeat; overflow:hidden; background-attachment:fixed;}
.a06BG{ background-image:url(../images/bg_deco_06.png); background-position-y:50%; background-position-x:center; background-repeat:no-repeat; background-attachment:fixed;}
.area06 .title{ margin:0 auto; padding-top:80px;}
.area06 .title img{ height:auto; display:inline-block;}
.area06 .title img.a06Title{ width:45%; margin-top:20px;}
.area06 .title img.a06TitleDeco{ width:53%;}
.a06Con{ padding-top:45px;}
.a06Con img{ display:block; }

.phone{ margin-top:35px;}
.phoneCon{ background-image:url(../images/area06_phone_bg02.png); background-repeat:repeat-y; padding:2% 6%; overflow:hidden;}
.phoneSay{ height:90px; width:auto;}
.phoneSay01,.phoneSay03{ float:left;}
.phoneSay02,.phoneSay04{ float:right;}

.copyRight{ color:#a1ebff; font-size:10px; margin:10px auto 20px auto; text-align:center;}

.shareBox{ position:fixed; bottom:10px; right:10px;}
.fbShareBox{ margin-left:9px;}


/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	
	.tabletShow{ display:block;}
	.tabletHide{ display:none;}
	.conWith,.hConWith{ width:750px; overflow:inherit;}
	
	.hSale01{ width:32%; top:59%; left:6%;}
	.hSale02{ width:28%; top:69%; left:30%;}
	.hSale03{ width:32%; top:59%; left:62%;}
	.hSale04{ width:37%; top:104%; left:54%;}
	
	.title{ margin-top:195px;}
	.sTitle img{ width:65%;}
	
	.area01_2{ margin-top:108px;}

	.a03GiftBN img{ width:729px;}
	
	.area05{ background-size:200%;}
	.a05BG{ background-size:120%; background-position-y:50%; background-position-x:center; background-repeat:no-repeat; background-attachment:fixed;}
	
	.area06{ background-size:250%; background-color: #52d6fa; background-attachment: inherit;}
	.a06BG{ background-size:150%;}
	.phoneCon{ background-size:contain; padding:3% 4%;}
	.phoneSay{ height:70px; width:auto;}
	
}
	
/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	
	.pcShow{ display:none !important;}
	.mShow{ display:block !important;}
	.tabletShow{ display:block;}
	.tabletHide{ display:none;}
	.conWith{ width:96%;}
	.hConWith{ width:100%;}
	
	.headerBox{background-image:none;}
	.hTitle01{ width:35%; top:3%; left:63%;}
	.hTitle02{ width:97%; top:4%; left:2%;}
	.hTitle03{ width:28%; top:3%; left:35%;}
	.hTitle04{ width:91%; top:28%; left:5%;}
	.hSale01{ width:37%; top:35%; left:2%;}
	.hSale02{ width:33%; top:47%; left:29%;}
	.hSale03{ width:37%; top:39%; left:60%;}
	.hSale04{ width:50%; top:76%; left:10%;}
	
	.hBG{  background-position-y:41%; background-repeat:no-repeat; background-size:133%; }
	.area01{ width:90%; margin:-14% auto 0 auto;}
	.title{ margin-top:10px;}
	.title img{ width:100%; height:auto;}
	.sTitle img{ width:100%;}
	.area01books{ margin-top:10px;}

	/*各類排行榜TOP1--------------------------------------------*/
	.area01_2{ margin-top:-12%;}
	.topBookKind,.topBookKind2{ padding:0 2%;}
	.topBookKind li{ width:50%; margin-bottom:10px;}

	.bnBox li{ float:none; width:95%; margin:2% auto;}
	
	.area02{ background-size:cover;}
	.area02 .title{ padding-top:55%;}
	.a02Con{ margin-top:20px;}
	
	.area03{ background-color:#ffae20; background-size:165%;}
	.area03 .title{ padding-top:20%;}
	.a03Con{ margin-top:10px;}
	.a03GiftBN{ padding-bottom:20px;}
	.a03GiftBN img{ width:100%; margin-top:2%; border:#ffd280 3px solid;}
	
	
	.area04{ background-color:#d54d37; background-size:173%; background-position-y:-17%;}
	.area04 .title{ padding-top:23%;}
	.a04Con{ padding-top:10px; padding-bottom:10px;}
	.a04Con img{ width:33.33%;}
	.a04cloud { display:none !important;}
	
	.area05{ background-color:#adf273; background-size:167%;}
	.a05BG{ background-size:120%;}
	.area05 .title{ padding-top:50px;}
	.a05Con{ padding-top:20px; padding-bottom:20px; }
	
	.area06{ background-color:#58d8fb; background-attachment:inherit; background-size:cover; background-position-y:-122px;}
	.a06BG{ background-image:none;}
	.a06Con{ padding:12px 0 20px 0; }
	.area06 .title{ padding-top:33px;}
	.phone{ margin-top:15px;}
	.phoneCon{ background-size:contain; padding:3% 4%;}
	.phoneSay{ height:auto; width:100%;}
	
	.shareBox{ bottom:8px; right:0px;}
	.fbShareBox{ margin-left:8px;}
																							
}
