@charset "utf-8";
/*--頭尾fixed高度設定------------------------------*/
.fixBox{ position: fixed; z-index: 100; background-color: #272729;}
.conFixed{ position: fixed; z-index: 100; width: 100%; max-width: 765px; background-color: #272729;}

.stocks_01 .conFixed{ top: 95px;}
.stocks_02 .conFixed{ top: 55px;}
.stocks_04 .conFixed{ top: 55px;}
.stocks_06 .conFixed{ top: 100px;}

.stocks_01 .content{ padding-top: 210px; padding-bottom: 95px;}
.stocks_02 .content{ padding-top: 170px; padding-bottom: 95px;}
.stocks_04 .content{ padding-top: 100px; padding-bottom: 95px;}
.stocks_05 .content{ padding-top: 55px; padding-bottom: 95px;}
.stocks_06 .content{ padding-top: 215px; padding-bottom: 95px;}

/*--conTabs列表頁籤------------------------------*/
.conTabs{ display: flex; width: 90%; margin: 15px auto; background-color: #fff; font-size: var(--txt-m); text-align: center; border-radius: 5px; overflow: hidden;}
.conTabs li{ flex: 1; border-right: #c3c3c3 1px solid;}
.conTabs li:last-child{ border-right: 0;}
.conTabs li a{ display: flex; align-items: center; justify-content: center; height: 45px; text-decoration: none; color: var(--headerNav); font-weight: bold; line-height: 1.1;}
.conTabs li a.click{ background-color: var(--tabClick); color: #fff;}
.conTabs li a.click:hover{ background-color: var(--tabClick);}
.conTabs li a:hover{ background-color: var(--tabHover);}

/*--conItems列表項目------------------------------*/
.conItems{ display: flex; background-color: var(--itemBar); font-size: var(--txt-xs);}
.conItems li{ flex: 1;}
.conItems li a{ display: flex; align-items: center; justify-content: center; height: 40px; color: #fff; text-decoration: none; text-align: center; line-height: 1.1;}

.itemArrow{ position: relative;}
.itemArrow::before, .itemArrow::after{ content: ""; position: absolute; right: -11px;}
.itemArrow::before{ top: -7px; border-top: 0; border-bottom: #fff 6px; border-left: transparent 4px; border-right: transparent 4px; border-style: solid;}
.itemArrow::after{ bottom: -8px; border-bottom: 0; border-top: #fff 6px; border-left: transparent 4px; border-right: transparent 4px; border-style: solid;}
.itemArrow.up::before, .itemArrow.down::after{ top: -2px;}
.itemArrow.up::after, .itemArrow.down::before{ display: none;}

/*--main------------------------------*/
.deepStyle{ color: #fff;}

/*--tableBox列表------------------------------*/
/* .tableBox{ height: 50vh; overflow: hidden; overflow-y: scroll;} */
.tableBox ul:nth-child(even){ background-color: var(--purpleGray);}
.tableList{ position: relative; display: flex; justify-content: center; font-size: var(--txt-b); text-align: center; line-height: 1.1; word-break: break-all;}
.tableList li{ display: flex; flex: 1; justify-content: center; align-items: center; min-height: 68px; padding: 8px 1%;}
.txtArrow{ font-size: var(--txt-2xs);}
.tbCircle{ display: flex; align-items: center; justify-content: center; width: 45px; height: 45px; border: #fff 1px solid; border-radius: 100%;}
.tbTag{ width: 100%; font-size: var(--txt-xs); margin-left: -13%; padding: 6px 3px; line-height: 1;}
.tbTag01{ background-color: #976929;}
.tbTag02{ background-color: #555863;}
.tbTag03{ background-color: #7d253f;}

/*列表漲跌顏色----*/
.tbRed{ color:var(--tbRed);}
.tbGreen{ color: var(--tbGreen);}
.tbRed .tbCircle{ border-color: var(--tbRed);}
.tbGreen .tbCircle{ border-color: var(--tbGreen);}
.tbRed.tbBg{ background-color: var(--tbRedBg); color: #fff;}
.tbGreen.tbBg{ background-color: var(--tbGreenBg); color: #fff;}

/*tbBtn列表功能鈕----*/
.tbBtnBox{ position: absolute; width: 100%; height: 100%; grid-gap: 20px; background-color: rgba(84,60,14,.95);}
.tbBtn{ position: relative; display: block; width: 56px; padding: 15px 0; background-color: var(--brown); color: #fff; text-decoration: none; border-radius: 5px;}
.tbBtn::before{ content: ""; position: absolute; bottom: 3px; right: 0; left: 0; margin: 0 auto; width: 90%; height: 3px; background-color: var(--brownDeep); border-radius: 0 0 5px 5px;}
.tbBtn.set::after{ content: ""; position: absolute; top: 8%; right: 8%; width: 4px; height: 4px; background-color: #fff; border-radius: 10px;}

/*addBtn加入監控+自選鈕----*/
.addBtnBox{ display: flex; justify-content: center; grid-gap: 15px; margin-top: 15px; padding-bottom: 15px;}
.addBtnBox a{ position: relative; display: flex; align-items: center; padding:10px 15px 15px; color: #fff; font-size: var(--txt-b); text-decoration: none; border-radius: 5px;}
.addBtn01{ background-color: var(--brown);}
.addBtn02{ background-color: var(--tbRedBg);}
.addBtnBox a::before{ content: ""; position: absolute; bottom: 3px; right: 0; left: 0; margin: 0 auto; width: 95%; height: 3px; border-radius: 0 0 5px 5px;}
.addBtnBox a.addBtn01::before{ background-color: var(--brownDeep);}
.addBtnBox a.addBtn02::before{ background-color: var(--redDeep);}
.addBtnBox a img{ width: 25px; margin-right: 5px;}

.tableList li.moniTagColumn{ flex-wrap: wrap;}
.tableList li.moniTagColumn .tbTag{ margin-left: 0; margin-bottom: 5px; border-radius: 3px;}
.tableList li.tagColumn, .conItems li.tagColumn{ flex: 4.5; text-align: left;}
.tableList li.moniNameColumn, .conItems li.moniNameColumn{ flex: 1.7; text-align: left;}
.tableList li.moniFilterColumn, .conItems li.moniFilterColumn{ flex-wrap: wrap; justify-content: start; flex: 2.5; text-align: left;}
.moniFilterColumn p{ width: 100%; margin-bottom: 3px;}
.monitorNote{ margin-top: 8px; font-size: var(--txt-s); color: #ffc664; line-height: 1.2;}

/*switch切換鈕----*/
.switch{ display:none;}
.switchLabel{ position: relative; display: inline-block; height: 30px; width: 60px; border-radius: 100px; background-color: #8d8d8d;}	
.circle{ position: absolute; left: 4px; display: inline-block; width: 21px; height: 21px; margin-top: 4px; border-radius: 100px; background-color: #eee; transition: all 0.3s;}
.switch:checked ~ label{ background-color: var(--green);}
.switch:checked ~ label .circle{ left: 35px;}

/*--member會員------------------------------*/
.memberBox{ padding-top: 30px;}
.memberPic{ position: relative; overflow: hidden; width: 100px; height: 100px; margin: 0 auto; border-radius: 100px;}
.memberPic img{ position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto;}
.memberAccount{ margin: 10px auto 0 auto; padding: 0 20px; font-size: var(--txt-b); text-align: center; word-break: break-all;}

/*共用-文字區塊*/
.txtBox{ width: 80%; margin: 0 auto; font-size: var(--txt-xl); text-align: center; line-height: 1.2;}

/*共用-按鈕login+share*/
.btnStyle.login{ flex: 2; background-color: #00b900; border-bottom: #007f00 4px solid;}
.btnStyle.login:hover{ background-color: #00cd00;}
.btnStyle.login:active{ background-color: #00b900;}

.btnStyle.share{ flex: 1; background-color: var(--brown); border-bottom: var(--brownDeep) 4px solid;}
.btnStyle.share:hover{ background-color: var(--brownLight);}
.btnStyle.share:active{ background-color: var(--brown);}
.login img{ width: 30px; margin-right: 6px;}

.inputBox{ width: 80%; margin: 10px auto;}
.inputBox .inputTextStyle{ width: 100%;}

/*--moniNoticeBox監控通知------------------------------*/
.moniNoticeList:nth-child(even){ background-color: var(--purpleGray);}
.moniNoticeList time{ display: block; width: 100%; padding: 20px 4% 0 4%; color:#919191; font-size: var(--txt-s); text-align: right;}

.moniNoticeCon{ display: flex; font-size: var(--txt-b); color: #fff; line-height: 1.2;}
.moniNoticeCon li{ padding: 10px 4% 20px 4%;}
.noticeStock{ flex: 2;}
.noticeTxt{ flex: 4;}

/*--pop內容------------------------------*/
.popHeader{ position: fixed; top: 0; z-index: 1; width: 100%; max-width: 765px;}
.popContent{ margin-top: 55px; color: #fff;}
/*pop內容的上間距*/
.noteBox, .searchBox, .editBox{ padding-top: 20px;}

/*note筆記----*/
.noteBox{ /*overflow-y: scroll;*/ width: 95%; /*height: calc(100vh - 100px);*/ margin: 0 auto 20px auto; padding: 20px 0; color: #000; font-size: var(--txt-b); line-height: 1.2;}
.noteBg{ padding: 5%; background-color: #fff; border-radius: 5px;}

/*共用-search搜尋----*/
.searchBox{ /*margin-top: 80px;*/}
.searchBar{ position: relative; display: table; margin: 0 auto;}
.deleBtn{ position: relative; display: block; width: 30px; height: 30px; background-color: var(--gray); border-radius: 50px;}
.deleBtn::before, .deleBtn::after{ content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 2px; height: 15px; background-color: #fff; border-radius: 10px;}
.deleBtn::before{ transform: rotate(45deg);}
.deleBtn::after{ transform: rotate(135deg);}
.searchBar .inputTextStyle{ width: 250px; padding-right: 40px;}
.searchBar .deleBtn{ position: absolute; top: 0; bottom: 0; right: 10px; margin: auto 0;}

.searchTitle{ font-size: var(--txt-m); padding: 0 15px;}
/*熱門搜尋*/
.searchHot{ margin-top: 20px;}
.searchHotList{ margin-top: 8px; padding: 0 15px;}
.searchHotList li{ display: inline-block;}
.searchHotList a{ display: block; margin-right: 12px; margin-bottom: 12px; padding: 10px; font-size: var(--txt-b); color: #fff; text-decoration: none; background-color: var(--gray); border-radius: 3px;}

/*歷史搜尋*/
.searchHistory{ margin-top: 30px;}
.searchTitle .deleBtn{ float: right; margin-top: -10px;}

.popTableList{ margin-top: 15px;}
.popTableList > li{ display: flex; flex-wrap: wrap; align-items: center; width: 100%; min-height: 53px; padding: 0 15px; border-bottom: #595959 1px solid;}
.popTableList > li:first-child{ border-top: #595959 1px solid;}
.popTableList a{ padding: 10px 0;}
.popListName{ flex: 1; /*align-self: center;*/ display: inline-block; font-size: var(--txt-b); color: #fff; text-decoration: none;}
.popListIcons{ flex: 1; /*align-self: center;*/}
.popListIcons .popListIcon{ float: right; width: 30px; margin-left: 20px;}

/*monitorEdit新增監控股----*/
.editBox{ /*margin-top: 80px;*/}
.editBox .scrollTabs{ padding-top: 0;}
.editBox .scrollTabs ~ .popTableList{ margin-top: 0; border-top: 0;}
.popTableList.monitor .popListName{ flex: 5;}

/*monitorEdit新增監控股----*/
.editBox .popTableList .deleBtn{ /*align-self: center;*/ margin-right: 15px;}
.monitorBox .txtBox{ text-align: left; margin-bottom: 15px;}
.monitorBox .txtBox .tbTag{ display: inline-block; width: auto; margin: 0 10px 10px 0; padding: 8px 10px; font-size: var(--txt-b); border-radius: 3px;}

.descriBox{ display: flex; justify-content: flex-end; width: 80%; margin: 0 auto;}
.descriBox a{ display: inline-block; width: 38px; height: 37px; line-height: 33px; text-align: center; border: #fff 2px solid; color: #fff; text-decoration: none; font-size: var(--txt-l); font-weight: bold   ; border-radius: 50px;}

/*mySelectBox自選股編輯----*/
.editBox.mySelectBox .popTableList{ margin-top: 0; border-top: 0;}

/*filterBox篩選----*/
.filterBox{ font-size: var(--txt-b);}    
.filterTitle{ padding: 10px 15px; font-size: var(--txt-m); background-color: var(--purpleGray);}

.filterList{ display: flex; align-items: center; margin: 0 15px; padding: 10px 0; line-height: 1.2;}
.filterBor{ border-top: #595959 1px solid;}
.filterListBox .filterBor:last-child{ margin-bottom: 20px; border-bottom: #595959 1px solid;}

.filterTxt{ flex: 1; min-width: 75px;}
.filterSelect{ flex: 3;}
.filterSelect .selectStyle{ width: 100%;}
.filterCheck{ flex: 1;}
.filterCheck .inputCheckStyle{ margin: 10px 20px 10px 0;}

.filterSwitch{ width: 60px; margin-left: 15px;}
.filterUnit{ width: 16px; margin-left: 10px;}

/*monitorFilterBox監控股條件設定----*/
.popListDetail{ flex: 2; padding: 10px !important; color: #fff; font-size: var(--txt-xs); line-height: 1.2; text-decoration: none;}
.moniFilterList{ width: 100%; padding: 0 4%;}
.moniFilterList > li{ display: flex; align-items: center; margin: 15px 0;}

.moniFilterItem{ display: block; width: 80px; padding-right: 15px; font-size: var(--txt-s);}
.itemNote{ font-size: var(--txt-2xs);}
.moniFilterSelect{ display: flex; flex: 1; overflow: hidden; color: #000; font-size: var(--txt-b); background-color: #fff; border-radius: 3px;}
.moniFilterSelect p{ flex: 1; display: flex; align-items: center; justify-content: center; height: 45px; text-align: center; border-left: #d5d5d5 1px solid;}
.moniFilterSelect p:first-child{ border-left: 0;}
.moniFilterSelect p.click{ background-color: var(--tabClick); color: #fff;}

.moniFilterList .inputTextNum, .moniFilterList .inputTextStyle{ width: calc(100% - 106px);}
.moniFilterList .inputTextNum span ~ .inputTextStyle{ flex: 1;}

.moniFilterList .textAreaStyle{ flex: 1; height: 45px;}
.moniFilterUnit{ width: 16px; margin-left: 10px; font-size: var(--txt-m);}

.monitorFilterBox .btnArea{ width: 92%; margin-bottom: 15px;}
.moniFilterInfo{ width: 92%; margin: 0 auto 20px auto; font-size: var(--txt-s); line-height: 1.2;}
}

@media screen and (min-width:767px) {

}

@media screen and (min-width:768px) and (max-width:1023px) {
    .popHeader{ width: 100%; min-width: 100%;}
}

@media screen and (max-width:320px) {
    .tableList{ font-size: var(--txt-xs);}
    .monitorNote{ font-size: var(--txt-2xs);}
}
