@charset "utf-8";
/* CSS Document */

.ksdown_pc{margin:0;padding:0;width:100%;height:auto;}
.pcShow{ display:block;}
.mShow{ display:none;}
.withBox{ width:980px; margin:0 auto; overflow:hidden;}
.mainAreaBG{ padding:20px 0; background-size:cover; background-position:top center;}

/*刊頭--------------------------------------------*/
header{ height:850px; background-image:url(../images/top_headerbg.jpg); background-size:cover; background-position:top center;}
.headerBgM{ display:none;}
.headerBox{ width:980px; margin:0 auto; position:relative;}
.headerTitle,.headerSale,.headerWrite,.headerGame,.headerBird{ position:absolute; display:block;}
.headerTitle{ width:53.8%; top:10px; left:5%;}
.headerSale{ width:30%; top:265px; left:45%;}
.headerWrite{ width:32%; top:418px; left:6%;}
.headerGame{ width:29%; top:504px; left:34%;}
.headerBird{ width:23%; top:386px; left:25%; pointer-events:none;}
.headerBox .fb-like{ position:absolute; left:440px; top:49px; z-index:2;}

/*刊頭動畫*/
.headerAni { -webkit-animation:headerAni 2s infinite; -moz-animation:headerAni 2s infinite;}
@-webkit-keyframes headerAni {
 0% { -webkit-transform:scale(1);}
 50% { -webkit-transform:scale(1.06);}
 100% { -webkit-transform:scale(1);}
}
@-moz-keyframes headerAni {
 0% { -moz-transform:scale(1);}
 50% { -moz-transform:scale(1.06);}
 100% { -moz-transform:scale(1);}
}

.headerAniBird{ -webkit-animation:headerAniBird 2s infinite; -moz-animation:headerAniBird 2s infinite;}
@-webkit-keyframes headerAniBird {
 0% { -webkit-transform:translateY(-8px);}
 50% { -webkit-transform:translateY(0px);}
 100% { -webkit-transform:translateY(-8px);}
}
@-moz-keyframes headerAniBird {
 0% { -moz-transform:translateY(-8px);}
 50% { -moz-transform:translateY(0px);}
 100% { -moz-transform:translateY(-8px);}
}

/*暢銷書TOP10--------------------------------------------*/
.topBooksBox{ background-image:url(../images/top_bg01.jpg); background-attachment:fixed;}
.topBookTitle{ width:90%; margin:40px auto; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.topBookTitle:hover{ -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}

.topBookTab{ width:90%; margin:20px auto 0 auto; overflow:hidden; text-align:center;}
.topBookTab li{ display:inline-block; width:20%; padding:18px 0 12px 0; margin:0 0.5%; background-color:#b955ec; border:#b955ec 3px solid; border-bottom:0; border-radius:40px 40px 0 0; 
text-align:center; color:#ffffff; font-size:40px; font-weight:bold; cursor:pointer;}
.topBookTab li:hover{background-color:#9939cb; border:#9939cb 3px solid; border-bottom:0;}
.topBookTab li.tbTabClick{ background:#ffffff; color:#b955ec;}
.tbTabLine{ width:100%; border-bottom:#b955ec 3px solid; margin-top:-5px;}

.jqTBinfo li{ display:none;}
.jqTBinfo li:first-child{ display:block;}

/*10本暢銷書*/
.topBookPic{ overflow:hidden; padding:0 5%;}
.tbTOP1book{ float:left; width:36%;}
.tbTOP1title{ float:right; width:64%;}
.tbTOP1txt{ float:right; width:64%;}

/*各類排行榜TOP1--------------------------------------------*/
.topBookKind,.topBookKind2{ overflow:hidden;}
.topBookKind li{ float:left; width:20%; margin-bottom:20px; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.topBookKind2 li{ float:left; width:50%; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.topBookKind li:hover,.topBookKind2 li:hover{ -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}

/*暢銷作家--------------------------------------------*/
.bestAuthorBox{ background-image:url(../images/top_bg02.jpg); background-attachment:fixed;}
.authorTitlePC img{ width:470px;}
.authorTitlePC{ -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.authorTitlePC:hover{ -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}
/*作者4個一排*/
.bestAuthorRow,.bestAuthorRow2{ overflow:hidden; list-style:none;}
.bestAuthorRow li{ overflow:hidden; float:left; width:23%; margin:1%; border-radius:8px; position:relative; cursor:pointer;}
.bestAuthorRow li img{ display:block;}

/*作者姓名+遮罩*/
.authorCover{ width:100%; height:100%; position:absolute; top:0; left:0; z-index:1; transition-property:opacity; transition-duration:0.6s;}
.authorCover p{ color:#ffffff; font-size:32px; font-weight:bold; text-align:center; position:absolute; bottom:15%; left:0; right:0; margin:0 auto; z-index:2;}
.cvRed{ background-color:rgba(234,67,39,0.75);}
.cvGreen{ background-color:rgba(62,212,175,0.75);}
.bestAuthorRow li:hover .authorCover{ transition-property:opacity; transition-duration:0.6s; opacity:0;}

/*作者兩區2個一排*/
.bestAuthorRow2 > li{ overflow:hidden; float:left; width:48%; margin:1%;}
.bestAuthorRow2 .bestAuthorRow li{ width:48%; margin:0;}
.bestAuthorRow2 .bestAuthorRow li:nth-child(1){ margin-right:4%; margin-bottom:4%;}
.bestAuthorRow2 .bestAuthorRow li:nth-child(2){ margin-bottom:1%;}
.bestAuthorRow2 .bestAuthorRow li:nth-child(3){ margin-right:4%}
.bestAuthorRow li.authorRadius{ border-radius:300px;}

/*--暢銷作家燈箱--*/
.lightboxOverlay{ display:none; position:fixed; top:0; bottom:0; left:0; right:0; background:rgba(0, 0, 0, 0.7); transition:opacity 500ms; z-index:1000;}
.bestAuthorLightbox{ width:900px; margin:0 auto; padding:2%; background-color:rgba(255, 244, 231,0.96); border:#ea6d56 3px solid; border-radius:8px; position:fixed; top:10%; left:0; right:0;}
.bestAuthorContent a{ text-decoration:none;}
.BALinfo{ overflow:hidden;}
.BALpic{ float:left; width:25%; border:#ffffff 5px solid;}
.BALinfoTxt{ float:left; width:72%; margin-left:3%; line-height:1.5;}
.BALinfoTxt h4{ font-size:30px; color:#b57523; margin-bottom:15px;}
.BALinfoTxt p{ font-size:16px; color:#16ad90; font-weight:bold;}

.BALbooksTitle{ display:block; padding:8px 10px; margin:20px 0 10px 0; font-size:20px; color:#ffffff; text-align:center; background-color:#ec6f58; border-radius:100px;}
.BALbooks{ overflow:hidden;}
.BALbooks li{ float:left; width:31.33%; margin:1%;}
/*.BALbooks li p{ margin-top:10px; color:#ef6148; text-align:center; font-size:15px; font-weight:bold; line-height:1.4;}原本有放書名的設定*/
.BALbookPic{ padding:4px 8%; border-radius:6px; background-color:#ffffff;}
.BALnote{ display:block; margin:33px 0 10px 0; color:#5d5d5d; font-size:15px; line-height:1.5;}
.BALnote br{ display:none;}
.BALmore{ margin:5px 1% 0 1%; text-align:right; color:#2ab397; font-weight:bold;}

/*關閉鈕*/
.lightboxClose{ width:45px; height:45px; margin:auto 0; background-color:#ec6f58; border-radius:100px; position:absolute; top:10px; right:10px; transition-property:background-color; transition-duration:0.6s; cursor:pointer;}
.lightboxClose:hover{ transition-property:background-color; transition-duration:0.6s; background-color:#d20f16;}
.lightboxClose:before, .lightboxClose:after{ content:""; width:3px; height:20px; background-color:#ffffff; border-radius:15px; position:absolute; top:0; left:0; bottom:0; right:0; margin:auto;}
.lightboxClose:before{ -webkit-transform:rotate(-45deg); -moz-transform:rotate(-45deg); -o-transform:rotate(-45deg); transform:rotate(-45deg);}
.lightboxClose:after{ -webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}

/*暢銷出版社--------------------------------------------*/
.topPublishBox{ background-image:url(../images/top_bg03.jpg); /*display:none;先把出版社排行榜關起來*/}
.topPubSwiperBox{ padding:0 10%; margin:0 auto; position:relative;}
.topPubSwiperBox li{ cursor:pointer; -moz-transition: 0.4s;-webkit-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
.topPubSwiperBox li:hover{-moz-transform:scale(0.85); -webkit-transform:scale(0.85); -o-transform:scale(0.85); -ms-transform:scale(0.85);}
.topPubSwiperBox .swiper-button-next{ right:6%; outline:none;}
.topPubSwiperBox .swiper-button-prev{ left:6%; outline:none;}

.topPublishIntro{ width:90%; margin:15px auto 0 auto;}
.topPublishIntro a{ display:none; -moz-transition:0.4s; -webkit-transition:0.4s; -o-transition:0.4s; -ms-transition:0.4s;}
.topPublishIntro a:first-child{ display:block;}
.topPublishIntro a:hover{ -moz-transform:translateY(-5px); -webkit-transform:translateY(-5px); -o-transform:translateY(-5px); -ms-transform:translateY(-5px);}

/*結語--------------------------------------------*/
.topEndBox{ min-height:1000px; background-image:url(../images/top_bg04.jpg); position:relative;}
.topEndMenuBox{ padding: 0 4%;}
.topEndMenuBox li{ margin:20px 0; padding-left:50px; position:relative;}
.topEndMenuBox li:before{ content:""; display:block; width:33px; height:33px; border:#2ccae0 1px solid; border-radius:10px; position:absolute; top:2px; left:0;}
.topEndMenuBox li a{ color:#2ccae0; font-size:42px; text-decoration:none; font-weight:bold; transition:0.5s color;}
.topEndMenuBox li a:hover{ color:#C3C; transition:0.5s color;}
.topEndMenuBox li:hover:after{ content:""; display:block; width:15px; height:25px; border:solid #C3C; border-width:0 4px 4px 0; position:absolute; top:-3px; left:13px; 
-webkit-transform:rotate(45deg); -moz-transform:rotate(45deg); -o-transform:rotate(45deg); transform:rotate(45deg);}
.copyRight{ padding:0 2%; position:absolute; bottom:5px; right:5px; font-size:12px; text-align:right; line-height:1.5;}

/*top鈕--------------------------------------------*/
.goTopBtn{ width:45px; height:45px; margin:5px auto 0 auto; background-color:rgba(119, 88, 16, 0.8); border-radius:100px; cursor:pointer; position:fixed; bottom:5px; right:5px; z-index:9999;}
.goTopBtn:hover{ background-color:rgba(75, 123, 107,0.9);}
.goTopBtn p{ width:15px; height:15px; position:relative; top:18px; left:14px;}
.goTopBtn p:after{ content:""; display:block; width:10px; height:10px; border:solid #ffffff; border-width:0 2px 2px 0; position:absolute; top:0; right:0;
-webkit-transform:rotate(-135deg); -moz-transform:rotate(-135deg); -o-transform:rotate(-135deg); transform:rotate(-135deg);}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	.ksdown_pc{ display:none;}
	.withBox{ width:760px;}

	/*刊頭--------------------------------------------*/
	.headerBox{ width:760px;}
	.headerTitle{ width:63.8%;}
	.headerSale{ width:36%; top:267px; left:46%;}
	.headerWrite{ width:39%; top:353px;}
	.headerGame{ width:36%; top:506px; left:38%;}
	.headerBird{ width:19%; top:350px; left:26%;}
	.headerBox .fb-like{ left:397px; top:40px;}

	
	/*暢銷作家--------------------------------------------*/
	.authorTitlePC img{ width:100%;}
	.authorCover p{ font-size:24px;}

	/*--暢銷作家燈箱---*/
	.bestAuthorLightbox{ width:710px; padding:3%;}
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.ksdown_pc{ display:none;}
	.pcShow{ display:none;}
	.mShow{ display:block;}
	.withBox{ width:100%;}

	/*刊頭--------------------------------------------*/
	header{ height:auto; background-image:none;}
	.headerBgM{ display:block;}
	.headerBox{ width:100%;}
	.headerTitle{ width:80.8%; top:1%;}
	.headerSale{ width:47%; top:39.5%; left:2%;}
	.headerWrite{ width:51%; top:49%; left:47%;}
	.headerGame{ width:46%; top:67%; left:8%;}
	.headerBox .fb-like{ left:64%; top:4%;}
	
	/*暢銷書TOP10--------------------------------------------*/
	.topBooksBox{ }
	.topBookTitle{ margin:15px auto;}
	.topBookTab{ width:92%; margin:0 auto;}
	.topBookTab li{ width:21%; font-size:18px;}

	/*10本暢銷書*/
	.topBookPic{ padding:0 2%;}
	.tbTOP1book{ float:none; width:65%; display:block; margin:0 auto;}
	.tbTOP1title{ width:100%;}
	.tbTOP1txt{ width:100%;}

	/*各類排行榜TOP1--------------------------------------------*/
	.topBookKind,.topBookKind2{ padding:0 2%;}
	.topBookKind li{ width:33.3%; margin-bottom:10px;}

	/*暢銷作家--------------------------------------------*/
	.authorTitleM img{ width:98%; margin:1%;}
	.bestAuthorBox{ padding:1%;}
	
	/*作者4個一排*/
	.bestAuthorRow li{ width:48%;}
	
	/*作者姓名+遮罩*/
	.authorCover p{ font-size:24px;}
	
	/*作者兩區2個一排*/
	.bestAuthorRow2 > li{ width:100%; margin:1% 0;}
	.bestAuthorRow2 .bestAuthorRow li{ width:48%; margin:0;}
	.bestAuthorRow2 .bestAuthorRow li:nth-child(1){ margin:0 1% 2% 1%;}
	.bestAuthorRow2 .bestAuthorRow li:nth-child(2){ margin:0 1% 2% 1%;}
	.bestAuthorRow2 .bestAuthorRow li:nth-child(3){ margin:0 1% 0 1%;}
	.bestAuthorRow2 .bestAuthorRow li:nth-child(4){ margin:0 1% 0 1%;}
	.bestAuthorRow li.authorRadius{ border-radius:300px;}

	/*--暢銷作家燈箱--*/
	.bestAuthorLightbox{ width:94%; padding:3%;}
	.bestAuthorContent{ overflow-y:auto; max-height:55vh; -webkit-overflow-scrolling: touch;}
	.BALpic{ float:none; display:block; width:70%; margin:10px auto 5px auto;}
	.BALinfoTxt{ width:100%; margin-left:0%; padding:7px 5%;}
	.BALinfoTxt h4{ text-align:center;}
	
	.BALbooks li{ width:48%; margin:6px 1%;}
	.BALbooks li:last-child{ display:none;}
	/*.BALbooks li p{ margin-top:6px;}原本有放書名的設定*/
	.BALnote{ text-align:left; margin:20px 0 10px 0; padding:0 2%;}
	.BALnote br{ display:inline;}

	/*關閉鈕*/
	.lightboxClose{ top:-25px; right:12px;}

	/*暢銷出版社--------------------------------------------*/
	.topPublishBox{ background-position-x:-138px;}
	.topPubSwiperBox .swiper-button-next{ right:3%; width:19px; height:40px; background-size:19px 40px;}
	.topPubSwiperBox .swiper-button-prev{ left:3%; width:19px; height:40px; background-size:19px 40px;}
	.topPublishIntro{ width:98%;}

	/*結語--------------------------------------------*/
	.topEndBox{ min-height:705px; background-attachment:inherit; background-size:1261px; background-position-x:63%;}
	.topEndMenuBox{ padding:0 4%;}
	.topEndMenuBox li{ padding-left:40px; position:relative;}
	.topEndMenuBox li:before{ content:""; width:25px; height:25px; top:0;}
	.topEndMenuBox li a{ font-size:28px;}
	.topEndMenuBox li:hover:after{ content:""; width:9px; height:18px; top:-3px; left:10px;}
	
	/*top鈕--------------------------------------------*/
	.goTopBtn:hover{ background-color:rgba(119, 88, 16, 0.8);}
	
}
