@charset "utf-8";
/* CSS Document */

.widthBox{ width:980px; margin:0 auto;}

/*--header--*/
header{ background-color:#43d2dd; background-image:url(../images/inx_header_bg02.png); background-position:top center;}
.headerBG{ display:block; background-image:url(../images/inx_header_bg01.png); background-attachment:fixed; background-position:top center; background-position-y:67px;}
.headHei{ height:536px; position:relative;}
.headPic{ position:absolute;}
.headPC01{ width:50.7%; top:22%; left:0;}
.headPC02{ width:47%; top:0; right:5%;}
.headPC03{ width:47%; bottom:0; right:2%;}
.headerM{ display:none;}

/*--sale--*/
.saleBox{ height:110px; background-image:url(../images/inx_sale_bg.jpg); background-position:top center;}
.saleM{ display:none;}
.saleP{ display:block;}

/*--area--*/
.mainTitle{ width:560px; margin:0 auto;}
.areaBG{ padding:70px 0; background-position:bottom center; background-attachment:fixed; background-repeat:no-repeat;}
.area01{ background-color:#c2e3ff; background-image:url(../images/inx_bg01.png);}
.area02{ background-color:#ffffff; background-image:url(../images/inx_bg02.png);}
.area03{ background-color:#fcf45a; background-image:url(../images/inx_bg03.png);}
.area04{ background-color:#fff873; background-image:url(../images/inx_bg04.png); padding:50px 0;}

/*--area01--*/
.a01pro{ overflow:hidden; margin-top:60px;}
.a01pro li{ float:left; width:30.333%; margin:1.5%; position:relative;}
.a01proHover{ width:50%; position:absolute; top:0; left:0; right:0; bottom:0; margin:auto; -moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;-ms-transition: 0.5s;}
.a01pro li:hover .a01proHover{ -moz-transform:scale(0); -webkit-transform:scale(0); -o-transform:scale(0); -ms-transform:scale(0);}

/*--area02--*/
.a02pro{ overflow:hidden; margin-top:20px;}
.a02pro li{ float:left; width:30.333%; margin:1.5%; -moz-transition: 0.4s;-webkit-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
.a02pro li:hover{ -moz-transform:translateY(-10px);-webkit-transform:translateY(-10px);-o-transform:translateY(-10px); -ms-transform:translateY(-10px);}
.a02pro li.a02Mdeco{ display:none;}
.a02pro li.a02Mdeco:hover{ -moz-transform:translateY(0px);-webkit-transform:translateY(0px);-o-transform:translateY(0px); -ms-transform:translateY(0px);}

/*--area03--*/
.ciBanner{ margin:70px auto 0 auto; position:relative; width:93%;}
.ciBNList .swiper-slide{ width:31.3%; margin:0 1%; position:relative; border-radius:1000px; overflow:hidden;}
.ciBanner .swiper-button-next, .ciBanner .swiper-button-prev{ width:30px; height:47px; padding:6px; background-size:40px 46px; z-index:1;}
.ciBanner .swiper-button-next{ right:-35px;}
.ciBanner .swiper-button-prev{ left:-35px;}

.a03proT{ position:absolute; bottom:0; left:0;}
.a03pro{-moz-transition: 0.5s;-webkit-transition: 0.5s;-o-transition: 0.5s;-ms-transition: 0.5s;}
.ciBNList .swiper-slide:hover .a03pro{ -moz-transform:scale(1.2); -webkit-transform:scale(1.2); -o-transform:scale(1.2); -ms-transform:scale(1.2);}

/*--area04--*/
.a04Box{ margin:0 auto; position:relative; width:100%;}
.ciBNList2 .swiper-slide{ width:100% !important; position:relative; border-radius:5px; overflow:hidden;}
.a04Box .swiper-button-next, .a04Box .swiper-button-prev{ width:30px; height:47px; padding:6px; background-size:40px 46px; z-index:1;}
.a04Box .swiper-button-next{ right:9px;}
.a04Box .swiper-button-prev{ left:9px;}


/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	.widthBox{ width:750px;}
	
	/*--header--*/
	.headHei{ height:409px; position:relative;}
	
	/*--sale--*/
	.saleBox{ height:auto;}
}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.widthBox{ width:96%;}
	
	/*--header--*/
	.headerBG{ display:none;}
	.headerM{ display:block;}
	
	/*--sale--*/
	.saleBox{ height:auto;}
	.saleP{ display:none;}
	.saleM{ display:block;}
	
	/*--area--*/
	.mainTitle{ width:94%; margin:8px auto;}
	.areaBG{ padding:15px 0;}
	
	/*--area01--*/
	.a01pro{ margin-top:15px; margin-bottom:10px;}
	.a01pro li{ width:47%;}
	.a01proHover{ width:65%;}
	.a01pro li:hover .a01proHover{ -moz-transform:scale(1); -webkit-transform:scale(1); -o-transform:scale(1); -ms-transform:scale(1);}
	
	/*--area02--*/
	.a02pro{ margin-top:5px;}
	.a02pro li{ width:47%; margin:5px  1.5% 15px 1.5%; padding-bottom:20px; border-bottom:#d4ddea 2px dotted;}
	.a02pro.a02pTEST li{ float:none; width:85%; margin:5px auto 15px auto; padding-bottom:20px; border-bottom:#d4ddea 2px dotted;}
	.a02pro li.a02Mdeco{ display:block; border-bottom:0;}
	
	/*--area03--*/
	.ciBanner{ width:87%; margin-top:20px; margin-bottom:10px;}
	.ciBNList .swiper-slide{ width:48%;}
	.ciBanner .swiper-button-next, .ciBanner .swiper-button-prev{ background-size:20px 30px;}
	.ciBanner .swiper-button-next{ right:-28px;}
	.ciBanner .swiper-button-prev{ left:-28px;}

	/*--area04--*/
	.a04Box .swiper-button-next, .a04Box .swiper-button-prev{ background-size:20px 30px;}
	.a04Box .swiper-button-next{ right:0;}
	.a04Box .swiper-button-prev{ left:0;}

}
