@charset "utf-8";
/* CSS Document */

.picDis{ display:block;}
.pcNo{ display:none;}
.mNo{ display:block;}
.widthBlock{ display:block; width:980px; margin:0 auto; position:relative;}

/*--header---------------------*/
.headerBG{ background-image:url(../images/inx_header_bg.jpg); background-repeat:no-repeat; background-position:center top;}
.hLogo,.hKS,.hKS,.hKSm,.hMain,.hMain2,.fbLikeBox{ position:absolute;}
.hLogo{ width:21.1%; top:3%; right:2%;}
.hKS{ width:23.1%; top:5%; left:4%;}
.hMain{ width:58.7%; top:5%; left:19%;}
.hMain2{ width:49.8%; bottom:9%; left:0; right:0; margin:0 auto;}

.fbLikeBox{ bottom:2.5%; left:4%;}
.fbBtn{ display:inline-block; height:28px; margin-right:6px; padding:5px 10px; background-color:#1877f2; font-size:15px; color:#fff; border-radius:5px; vertical-align:middle; font-weight:bold; cursor:pointer; transition:0.4s;}
.fbBtn:hover{ transform:translateY(-2px);}
.fbLike{}
.fbLikePic{ width:17px; margin-right:5px; vertical-align:bottom;}
.fbShare{ padding-top:7px;}

/*--AreaStyle---------------------*/
.bgSet{ background-position:center top; padding-bottom:30px; background-attachment:fixed; overflow:hidden;}
.mainTitle{ width:68%; margin:20px auto 0 auto;}

/*--tenBooks---------------------*/
.bgSet.area01{ background-image:url(../images/inx_bg_01.jpg);}
.bgSet.area01 .swiper-container{ margin-top:-50px !important;}
.tenBookSwiper{ overflow:hidden;}
.tenBookPic{ float:left; width:40%; margin-left:38px; padding-top:9%; position:relative; z-index:1;}
.tenBookInfo{ float:right; width:54%; min-height:545px; margin:25px 60px 0 -100px; padding:80px 5%; background-color:rgba(255,255,255,0.9); border-radius:20px; font-weight:bold;}
.tenBookInfo h4{ margin-bottom:20px; color:#1c8a8b; font-size:32px;}
.tenBookInfo p{ width:96%; margin:0 auto; font-size:25px; line-height:1.5;}
.tenBookInfo p a{ color:#205c8e; text-decoration:none;}

.area01 .swiper-button-prev{ background-image:url(../images/inx_arrow_prev.png) !important;}
.area01 .swiper-button-next{ background-image:url(../images/inx_arrow_next.png) !important;}

.tenBook img{ display:block;}
.tenBook3{ width:81.5%; margin:0 auto;}

/*--people---------------------*/
.bgSet.area02{ background-image:url(../images/inx_bg_02.jpg); background-attachment:inherit;}
.area02 .mainTitle{ width:48%; float:right;}
.peoplePic{ display:block;}
.people01{ float:left; width:53.5%; margin:-30% 0 0 4%; position:relative; z-index:1;}
.people02{ float:left; width:53.5%; margin:-28% 0 0 43%;}
.people03{ float:left; width:48%; margin:-20% 0 0 3%;}

/*--top100---------------------*/
.bgSet.area03{ background-image:url(../images/inx_bg_03.jpg);}
.area03 .mainTitle{ width:92%;}
/*--runBooks--*/
.boardcontent{ width:95%; margin:-35px auto 0 auto; text-align:center;}
.typetitle{ width:70%; margin:0 auto;}
.runArea { width:100%; height:auto; margin:3% auto 0; background-color:rgba(255,255,255,0.8); border-radius:8px; }
#myDiv,#myDiv2,#myDiv3,#myDiv4 { overflow:hidden; width:100%; cursor:hand; margin:0 auto; padding:30px 0; }
.runArea .runner1 {width:100%; height:auto; margin:0; padding:15px 0 0 15px; }
.runArea .runner1 td { height:340px;}
.bookBOX{ width:auto; margin:0 40px 0 0; position:relative;}
.bookBOX .num{ width:75px; height:75px; line-height:1.1; padding:17px 6px 6px 6px; color:#fff; font-family:Arial, Helvetica; font-size:18px; background-color:#bc9018; border-radius:99em; text-align:center; position: absolute; top:-15px; left:-15px; z-index:2;}
.bookBOX .num .number{ font-size:32px; margin:-5px auto 0;}
.bookBOX .cover { width:auto; height:360px; padding:10px; margin:0 auto; background-color:#fff; border-radius:10px;}
.bookBOX .cover img { width:auto; height:340px; }

/*--runBooks tab--*/
.menulist{ width:90%; margin:20px auto; text-align:center; font-size:0;}
.menulist .ybn{ width:21%; margin:0 1%; display:inline-block; -moz-transition: 0.4s;-webkit-transition: 0.4s;-o-transition: 0.4s;-ms-transition: 0.4s;}
.menulist a:nth-child(odd){ position:relative; top:15px;}
.menulist a:last-child{ position:relative; top:10px;}
.ybn img{ width:100%;}
.ON{ -webkit-filter:drop-shadow(-12px 10px 10px rgba(255,228,0,0.7)); filter:drop-shadow(-12px 10px 10px rgba(255,228,0,0.7));}
.ybn:hover{ -moz-transform: scale(1.15);-webkit-transform: scale(1.15);-o-transform: scale(1.15);-ms-transform: scale(1.15);}

/*--ksBook---------------------*/
.bgSet.area04{ background-image:url(../images/inx_bg_04.jpg); background-attachment:inherit; padding-bottom:500px;}
.area04 .mainTitle{ margin-top:50px;}
.ksBookPic{ display:block; float:left; width:50%;}

/*--best---------------------*/
.bgSet.area05{ background-image:url(../images/inx_bg_05.jpg);}
.bestPic{ padding:0 5%; overflow:hidden;}
.bestPic a{ display:block; float:left;}
.best01{ width:48.6%; margin-right:2%;}
.best02{ width:48%;}
.best03{ width:48%; margin-top:2%;}

.bestAuthorBlock{ overflow:hidden; margin-top:45px;}
.bestAuthorTitle{ float:left; width:44%;}
.bestAuthor{ display:block; float:left; width:54%; margin-top:12px;}
.bestAuthorName{ overflow:hidden;}
.bestAuthorName li{ float:left; width:143px; height:143px; margin:10px; background-color:#fff; border-radius:100%; display:flex; align-items:center; justify-content:center; box-shadow:rgba(0,0,0,0.1) 3px 3px 3px;}
.bestAuthorName li a{ display:block; padding:0 27px; font-size:22px; line-height:1.1; font-weight:bold; color:#b56186; text-decoration:none; text-align:center;}
.bestAuthorNote{ padding:0 3%; font-size:12px; color:#254843;}

.aniRight{ position:relative; right:0; transition-property:right; transition-duration:0.2s;}
.aniRight:hover{ position:relative; right:-3px; transition-property:right; transition-duration:0.2s;}


/*----------------------------------------------------------------------------------------------------*/
@media screen and (min-width:768px) and (max-width:1023px) {
	.widthBlock{ width:750px;}
	.bgSet{ background-size:cover;}
	
	/*--tenBooks---------------------*/
	.tenBookInfo{ min-height:425px; padding:60px 5%;}
	.tenBookPic{ padding-top:11%;}
	.tenBookInfo h4{ font-size:30px;}
	.tenBookInfo p{ width:98%; font-size:20px;}
	
	/*--best---------------------*/
	.bestAuthorName li{ width:130px; height:130px;}
	.bestAuthorName li a{ font-size:19px;}

	/*--top100---------------------*/
	/*--runBooks--*/
	.runArea .runner1 td { height:280px;}
	.bookBOX .cover { height:300px;}
	.bookBOX .cover img { height:280px;}

	/*--runBooks tab--*/
	.menulist{ width:90%;}
	.menulist .ybn{ width:25%; margin:0;}

}

/*----------------------------------------------------------------------------------------------------*/
@media screen and (max-width:767px) {
	.pcNo{ display:block;}
	.mNo{ display:none;}
	.widthBlock{ width:100%;}
	
	/*--header---------------------*/
	.hLogo{ width:33%; top:4%; right:4%;}
	.hKSm{ width:27%; top:5%; left:5%;}
	.hMain{ width:86%; top:18%; left:8%;}
	.hMain2{ width:92%; bottom:11%;}
	.fbLikeBox{ bottom:3%; left:3%;}
	
	/*--AreaStyle---------------------*/
	.bgSet{ background-attachment:inherit; background-size:cover; padding-bottom:15px;}
	.mainTitle{ width:80%; margin-top:0;}
	
	/*--tenBooks---------------------*/
	.tenBook3{ width:91%;}
	.bgSet.area01 .swiper-container{ margin-top:-10px !important;}
	.tenBookSwiper li{ float:none;}
	.tenBookPic{ width:80%; margin:-60px auto 0 auto;}
	.tenBookInfo{ width:95%; min-height:inherit; margin:0 auto; padding:30px 9%; background-color:rgba(255,255,255,0.9); border-radius:5px; font-weight:bold;}
	.tenBookInfo h4{ margin-bottom:15px; font-size:22px;}
	.tenBookInfo p{ width:96%; height:188px; margin:0 auto; font-size:18px; overflow:hidden;}
	
	/*--top100---------------------*/
	.area03 .mainTitle,.area04 .mainTitle{ margin-top:10px;}
	.ksBookPic{ float:none; width:80%; margin:0 auto;}

	/*--runBooks--*/
	.boardcontent{ margin:-10px auto 0 auto;}
	.runArea .runner1 td { height:200px;}
	#myDiv, #myDiv2, #myDiv3, #myDiv4{ padding:22px 0;}
	.bookBOX .cover { height:220px; padding:10px;}
	.bookBOX .cover img { height:200px; }
	.bookBOX .num{ width:60px; height:60px; line-height:1.3; padding:14px 6px 6px 6px; font-size:16px; font-weight:bold;}
	.bookBOX .num .number{ font-size:22px;}
	
	/*--runBooks tab--*/
	.menulist{ width:96%; margin:5px auto 20px auto;}
	.menulist .ybn{ width:25%; margin:0;}

	/*--ksBook---------------------*/
	.bgSet.area04{ padding-bottom:15px;}

	/*--best---------------------*/
	.bgSet.area05{ padding-top:15px; background-size:246%; background-position:26% 0;}
	.best01{ width:100%; margin-right:0;}
	.best02{ width:100%; margin-top:10px;}
	.best03{ width:100%; margin-top:10px;}
	
	.bestAuthorTitle{ float:none; width:80%; margin:0 auto;}
	.bestAuthor{ float:none; width:100%; margin-top:-10px;}
	.bestAuthorName{ padding:0 1.5%;}
	.bestAuthorName li{ width:47%; height:69px; margin:8px 1.5%; border-radius:5px;}
	.bestAuthorName li a{ padding:15px; font-size:18px; line-height:1.2;}

}
